nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        font-weight: 700;
        background: transparent;
        color: white;
        cursor: pointer;
        border: 2px solid rbg(65, 65, 65);
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover{
            background: rbg(65,65,65);
            color: rgb(20,230,76);
            filter: drop-shadow(5px 5px 10px rgb(76, 216, 114));
        }
    }
}


@media screen and(max-width: 768px) {
    nav{
        button {
            z-index: 10;
        }
    }
}